<h1 class="centro">CADASTRO</h1>
    <div>
      <h4>E-mail</h4>
      <input type="email" [(ngModel)]="email" placeholder="Ex: maria_silva@dominio.com" class="botao">
      <br>

      <h4>Usuario</h4>
      <input type="email" [(ngModel)]="id" placeholder="Ex: maria_silva" class="botao">
      <br>
  
      <h4>Senha</h4>
      <input type="password" [(ngModel)]="password" placeholder="Senha" class="botao">
      <br>
  
      <h4>Nome Completo</h4>
      <input type="text"  [(ngModel)]="name" placeholder="Ex: Maria da Silva" class="botao">
      
      <br>

      <button (click)="cadastrarPessoa()" class="botao">Cadastrar</button>
    </div>