@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.corpo{
    display: flex;
    flex-wrap: wrap;
}
.coluna{
    border: 1px solid black;
    margin-bottom: 10px;
    margin: 15px;
    background-color: rgb(205, 241, 255);
    border-color: rgb(205, 241, 255);;
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
}

.arredonda{
    border-radius: 10px;
}
.fundo{
    background-color: rgb(127, 204, 255);
    border-radius: 10px;
    padding: 10px;
}
.botao{
    background-color: rgb(209, 237, 255);
    font-family: 'Garamond', serif;
    border-radius: 2px;  
    border-color: azure;
}
.titulo{
    background-color: rgb(205, 241, 255);
    text-align: center;
}
.corDefundo{
    background-color: rgb(205, 241, 255);
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select {
    width: 700px;
}