<div class="fundo">
  <div class="centro">
    <input placeholder="Tarefa" [(ngModel)]="tarefa.nome" class="botao espaco"/>
    <br>
    <select [(ngModel)]="tarefa.categoria" class="botao espaco">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <button (click)="cadastrarTarefa()" class="botao espaco">Cadastrar</button>

  </div>

  <div class="corDiv">
    <div class="corpo">
      <div *ngFor="let categoria of categorias">
        <div class="coluna">
          <h2 class="titulo">{{ categoria }}</h2>
          <div *ngFor="let tarefa of listas;index as indice" (change)="atualizarCategoria(tarefa, $event.target.value)">
            <div *ngIf="tarefa.categoria === categoria">
              <p>Tarefa: {{ tarefa.nome }}</p>
              <div class="titulo">
                <select [(ngModel)]="tarefa.categoria" class="botao espaco">
                  <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                </select>
                <button (click)="removerTarefa(indice)" class="botao espaco">Remover</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>