<body>
  <h1>
    FORMS APP
  </h1>
    <input *ngIf="mostraInput" placeholder="Tarefa" [(ngModel)]="pessoa.nome">

    <select [(ngModel)]="pessoa.categoria">
      <option value="todo">to-do</option>
      <option value="doing">doing</option>
      <option value="done">done</option>
    </select>

    <button (click)="cadastrarUsuario()">Cadastrar tarefa</button>

  <h4> Tarefa:</h4>
  <div *ngFor="let usuario of usuarios; index as indice; let tarefa of tarefas">
    <h4>
      {{indice+1}}- {{usuario.nome}}
      <select [(ngModel)]="usuario.categoria">
        <option value="todo">to-do</option>
        <option value="doing">doing</option>
        <option value="done">done</option>
      </select>
      <br>
      <button (click)="removerUsuario(indice)">Remover tarefa</button>
      <br>
      <button (click)="atualizarCategoria(usuario)">Atualizar categoria</button>
    </h4>
  </div>

</body>