<div class="corFundo">
<header>
  <nav>
    <a href=""><button (click)="cadastrarTarefa()">Cadastrar Tarefa</button></a>
      <a href="http://localhost:4200/categorias"><button (click)="cadastrarCategorias()">Cadastrar Categoria</button></a>
      <a href="http://localhost:4200/propriedade"><button (click)="cadastrarPropriedade()">Cadastrar Propriedade</button></a>
      <a href="http://localhost:4200/cadastro"><button (click)="cadastrarPessoa()">Cadastrar Pessoa</button></a>
  </nav>
</header>
<br>
<div class="alinha">
  <h1 >TODO-LIST</h1>
</div>
<router-outlet></router-outlet>
</div>
