<div>
    <div>
        <input [(ngModel)]="propriedade.nome" placeholder="Propriedade"/>
        <h3>Tipo:</h3>
        <select [(ngModel)]="propriedade.tipo">
          <option>Texto</option>
          <option>Número</option>
          <option>Seleção</option>
        </select>
        <button (click)="cadastrarPropriedade()">cadastrar</button>
    </div>
    <h2>Propriedades cadastradas:</h2>
    <div>
    <div *ngFor="let propriedade of propriedades;">
        {{propriedade.nome}} 
        {{propriedade.tipo}}
        <button (click)="removerPropriedade(indice)">remover</button>
      
      </div>
    
  